<app-top-nav-bar></app-top-nav-bar>
<div class="dashboard-header">
    <h2>Vacancy Shortlist</h2>
</div>
<app-side-nav-bar></app-side-nav-bar>

<div class="card-container" style="width:88%; height: 1000px; background-color: white; display: inline-block; padding: 40px; transform: translateY(-41.2vw);">
    <h3>Web Developer</h3>
    <br><br><br>
 
    
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col" style="position: relative; left:31px;">#</th>
            <th scope="col">Applicant Name</th>
            <th scope="col">Criteria Matched</th>
            <th scope="col" style="text-align: right;">Actions</th>
        </tr>
    </thead>

    <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
          
        <tr *ngFor="let f of receivedApplicants; index as i" cdkDrag cdkDragLockAxis="y">
            <th class="col-xs" scope="row">						
              <mat-icon style="color:lightgray">menu</mat-icon>&nbsp;
              <span style="position:relative; top:-5px;">{{i+1}}</span>
            </th>
            <td class="col-md">{{f.name}}</td>
            <td class="col-md">3/5</td>
            <td class="col-md" style="text-align: right;">
                <a mat-raised-button href="https://t.me/Jairus0317" target="_blank">Message</a>
                <button mat-raised-button (click)="openDialog(f.name)">Interview</button>
            </td>
        </tr>
    
    </tbody>
  </table>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pick date & time</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <input type="date"  id="date" value="date">
            <input type="time"  id="time">
    </div>
    <div class="modal-footer">
      <button>Send Schedule</button>
    </div>
  </ng-template>




















  
  <div class="example-container">
    <h5>Shortlist</h5>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="shortlist"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of shortlist" cdkDrag>
          {{item}}
          <button type="button" class="btn" (click)="open(content)">Interview</button>
        </div>
    </div>
  </div>

<div class="example-container">
    <h5>Applicant</h5>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="applicant"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of applicant" cdkDrag>
          {{item}}
      </div>
    </div>
  </div>