<app-top-nav-bar></app-top-nav-bar>



<div class="dashboard-header">
    <h2>Manage Vacancy</h2>
</div>

<app-side-nav-bar></app-side-nav-bar>
<div class = "dashboard-container " style="width:88%; background-color: white; height: 100%; display: inline-block;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job Title</th>
                <th scope="col">Ref Num</th>
                <th scope="col">Start Date</th>
                <th scope="col">Closing Date</th>
                <th scope="col">Short Listed</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Construction Worker</td>
                <td>AA01311</td>
                <td>5 October 2021</td>
                <td>20 October 2021</td>
                <td>1/5</td>
                <td>-</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Truck Driver</td>
                <td>AA01312</td>
                <td>1 September 2021</td>
                <td>20 September 2021</td>
                <td>3/5</td>
                <td>Send to HR</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Laborer</td>
                <td>AA01313</td>
                <td>1 September 2021</td>
                <td>30 September 2021</td>
                <td>1/5</td>
                <td>-</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Manufacturing Worker</td>
                <td>AA01314</td>
                <td>1 October 2021</td>
                <td>31 October 2021</td>
                <td>5/5</td>
                <td>-</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
      </table>
</div>