<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<body>

   <!-- Navbar -->


<!-- Header -->
<header class="w3-container w3-grey w3-center" style="padding:400px 20px 150px 20px">
  <h1 class="w3-margin w3-jumbo">The first blue collar employee solution in Sarawak</h1>
  <div></div>
  <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<!-- first section -->
<div class="w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-center">
      <h1>What is it about</h1>
      <p class="w3-text-grey">The system is ....</p>
    </div>
  </div>
</div>

<!-- second section -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Our mission</h1>
      <p class="w3-text-grey">ssss</p>
    </div>
    <div class="w3-third w3-center">
       <img src = "/assets/icons/black.jpg">
    </div>
  </div>
</div>

<!-- third section -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
     <img src = "/assets/icons/black.jpg">
    </div>
    <div class="w3-twothird w3-right-align">
      <h1>Our crew</h1>
       <p class="w3-text-grey w3-right-align">sss</p>
    </div>
  </div>
</div>

<!-- second section -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Why Choose Us</h1>
      <p class="w3-text-grey">ssss</p>
    </div>
    <div class="w3-third w3-center">
         <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top">Text</button>
  	 <button class="w3-button w3-white w3-padding-large w3-large w3-margin-top">Text</button>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
 <div class="w3-content">
    <div class="w3-center">
	<img src ="/assets/icons/Rajang Logo.webp"  width = "30%">
    </div>
  </div>
</div>
<hr style="height:1px;border-width:0;color:black;background-color:gray;">
<footer class="w3-container w3-padding-10 w3-center w3-opacity">  
  <div class="w3-xxlarge w3-padding-10">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-whatsapp w3-hover-opacity"></i>
 </div>
 <p>© 2021 Rajang Digital Solutions Sdn. Bhd. ALL RIGHTS RESERVED</p>
</footer>
</body>