<div id="custom-background">

	<div class="some-text">
		<!-- <div id="menu">Menu</div> -->
		<div id="search">
			<form action="something.php" method="GET">
			  <input type="text" placeholder="Search.." name="search">
			  <button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<button id="filter-button"><i class="fa fa-filter"></i></button>
		
		<!-- make this whole part modular simport directly from a module-->
		<div id="cards-grid">
			<app-cv-card></app-cv-card>
		</div>
	</div>
	
</div>