.header {
    margin: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.ex1 {
    height : 600px;
    overflow-y: scroll;
  }
  .interview-top{
    margin-bottom: 50px;
  }
  .button{
    background-color: #F4DC05;
    color: white;
    border-radius: 0.4vw;
    border: 0px;
    margin: 10px 0px;
    width: 250px;
    height: 50px;
  } 
  .button:hover {
    background-color: grey;
    color: white;
    border: 0px solid black;
  }
  .group-card a{
    display: inline-block;
    background-color: #DEDEDE;
    color: black;
    border-radius: 0.4vw;
    margin:20px 20px 20px 0;
    width: 280px;
    height: 130px;
  }
  .group-card a span{
    display: inline-block;
    padding: 5px 10px;
  }
  .group-card a span:first-child{
    font-weight: bold;
  }
  .table-card table{
    background-color: #f3f1f1;
    color: black;
    border-radius: 0.2vw;
    margin:20px 20px 20px 0;
    width: 100%;
  }
  .table-card table button{
    width: 200px;
    height: 35px;
  }
  .btnSave {
    background-color: #FBD036; 
    color: white; 
    border: 0px;
    border-radius: 4px;
    padding: 8px 15px;
    text-align: center;
  }
  .btnSave:hover {
    background-color:  grey;
      color: white;
  }