


<div class="side-bar" style="width:12%">
  <a href="/dashboard" class="button-gray">Dashboard</a>
  <a href="/post-vacancy" >Post Vacancy</a>
  <a href="/manage-vacancy" class="button-gray">Manage Vacancy</a>
  <a href="/received-applications" >Received Applications</a>


  <input type="checkbox" />

  <span class="button-gray dropdown-side-nav">Manage Hiring Campaign<fa-icon [icon]="faCaretDown" style="margin-left: 25px;"></fa-icon></span>
  <div class="dropdown-container">
    <a href="/vacancy-shortlist">Vacancy Shortlist</a>
    <a href="/interview-schedule">Interview Schedule</a>
  </div>

  <a href="/wallet" >Wallet</a>
  <a href="/setting" class="button-gray">Setting</a>
  <a href="/logout" class="logout-button">Logout</a>
</div>


