<!-- be very careful, expecially when processing anything obtained from db, 
must use standard JSON notation to access the data eg. something["here"]-->
<div class="single-card" *ngFor="let cv of cv_chunck">

	<div class="picture">
		<!-- <button (click)="open(content)">View CV</button> -->
		<img id="triggerModal" class="applicant-photo" src="{{cv['photo']}}" alt="photo of job applicant">
		<!-- modal here -->
		<app-test-modal></app-test-modal>

		<!-- ng-src doesn't work, just use src -->
	</div>
	<div class="cv-details">
		<ul>
			<li><b>Expertise:</b> {{ cv["expertise"] }}</li>
			<li><b>Highest Education:</b> {{ cv["education_level"] }}</li>
			<li><b>Working Experience:</b> {{ cv["working_experience"] }}</li>
			<li><b>Personality:</b> {{ cv["personality"] }}</li>

		</ul>
	</div>

</div>
