<!-- <app-top-nav-bar></app-top-nav-bar> -->
<!-- <app-side-nav-bar></app-side-nav-bar> -->
<!-- there is no need for the whole html declaration etc, it's done in index.html already -->

<!-- <div id="custom-background"> -->

	<!-- <div class="some-text"> -->
		<!-- Hello world!<br/> -->
		<!-- Biu~<br/> -->
		<!-- <p>{{title}} is a {{type}} and it is made of {{material}}</p> -->
		<!-- <span id="warning"> -->
			<!-- Make sure not to put any html in this "app.component.html". This file -->
			<!-- only acts as a router. -->
		<!-- </span> -->
		<!-- <br/> -->
		<!-- <a href="/books">Book List</a>&nbsp;&nbsp; -->
		<!-- <a href="/home">Home Page</a> -->
	<!-- </div> -->
	
<!-- </div> -->


<router-outlet></router-outlet>