<div class="container">
<div class="list row">
    <div class="col-md-8">
        
            
    </div>
    
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col" style="position: relative; left:31px;"></th>
                <th scope="col">Applicant Name</th>
                <th scope="col">Apply For</th>
                <th scope="col" style="text-align: right;">Actions</th>
            </tr>
        </thead>
    
        <tbody >
              
            <tr *ngFor="let applicant of applicants; index as i" >
                <th class="col-xs" scope="row">						
                  <span style="position:relative; top:-5px;">{{i+1}}</span>
                </th>
                <td class="col-md">{{ applicant.name }}</td>
                <td class="col-md">{{ applicant.position_applied }}</td>
                <td class="col-md" style="text-align: right;">

                    <button>Interview</button>
                </td>
            </tr>
        
        </tbody>
      </table>

  </div>
</div>