

<mat-toolbar>
    <span class="logo"><img src="/assets/images/Rajang Logo.webp"></span>

    <div class="nav-item">
      <a href="/" mat-button>Home</a>
      <a href="cv-listing" mat-button>CV Listing</a>
      <a href="subscribe-service" mat-button>Services</a>   
    </div>

    
        <div id="menuToggle">

          <input type="checkbox" />
          
          <span></span>
          <span></span>
          <span></span>
          
          <ul id="menu">
            <a href="/dashboard"><li>Dashboard</li></a>
            <a href="/vacancy-shortlist"><li>Hiring Campaign</li></a>
            <a href="/wallet"><li>Wallet</li></a>
            <a href="/logout"><li class="logout-button">Log Out</li></a>
          </ul>
        </div>

</mat-toolbar>


