

.mat-toolbar{
    justify-content: space-between;
    background-color: white;
}

.nav-item{
    transform: translateX(-20vw);
}

.nav-item a{
    margin:0 20px;
}

.logo img{
    height:3vw;
    vertical-align: middle;
}

#menuToggle input
{
  display: block;
  width: 38px;
  height: 30px;
  position: absolute;
  transform: translate(-6px,-8px);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: black;
   border-radius: 3px;
   z-index: 1;
 }

 #menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #FBD036;
}

#menu
{
  position: absolute;
  width: 250px;
    display: none;
    padding:0;
  background: white;
  list-style-type: none;
  transform: translate(-80.5%, 5.5%);
  z-index: 99;
  }

 
  #menu li{
      font-weight: lighter;
      padding:20px 0 20px 30px;
      border-bottom:1px solid lightgray;
  }

  #menu .logout-button{
      background-color: #FB7373;
      color:white;
  }

  #menuToggle input:checked ~ ul
  {
    display: block;
  }

