<div class="dashboard-header">
    <h2>Vacancy Shortlist</h2>
</div>

<div class="card-container">    
    <h4>Vacancies</h4>

    <p>Opening Vacancy</p>

    <div class="shorlist-card">
        <a href="vacancy-shortlist/webdeveloper"><span>Web Developer</span><br><span>5/10</span></a>
        <a href=""><span>Singer</span><br><span>5/7</span></a>
    </div>
    <p>Closed Vacancy</p>

    
    <div class="shorlist-card">
        <a href=""><span>Programmer</span><br><span>8/8</span></a>
        <a href=""><span>Designer</span><br><span>5/5</span></a>

    </div>
</div>

