<app-top-nav-bar></app-top-nav-bar>
<div class="header">
    <h2>Interview Schedule</h2>
</div>
<app-side-nav-bar></app-side-nav-bar>

<div class="card-container" style="width:88%; height: 100%; background-color: white; display: inline-block;padding: 40px; transform: translateY(-620px); ">
        <div class="interview-top">
            <button class = "button" (click)="open(content)">Create Interview Group</button>

            <div class="group-card">
                <a href="" *ngFor="let a of allGroup;; let i = index"> 
                    <span>Group {{i+1}} &nbsp;{{a.date}}</span><br>
                    <span>{{a.morningTime}} - {{a.afternoonTime}}</span><br>
                </a>
            </div>
        </div>

        <div class="interview-bottom">
            <h5>Upcoming interview schedule</h5>
            <div class="table-card">
                <table class="table" *ngFor="let a of testarray;">
                    <thead>
                        <tr>
                            <th colspan="2" style="vertical-align: middle;"> Group 1 - 11 Nov - 10AM-12PM</th>
                            <th scope="col" style="text-align: right;"><button class = "button">Start Interview</button></th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th >Applicant Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td colspan="2">Jane Doe</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td colspan="2">John Doe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Interview Group</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
            <div class="form-group">

              <label for="date">Date</label>
              <div class="input-group">
               <ejs-datepicker format="dd-MM-yyyy" placeholder="Enter date"  [min] = "minValue" [value] = "date"></ejs-datepicker>
              </div>

              <label for="startTime">Morning Session</label>
              <div class="input-group">
                <ejs-timepicker [value] = "morningTime" placeholder="Start Time"></ejs-timepicker>
              </div>

              <label for="startTime">Afternoon Session</label>
              <div class="input-group">
                <ejs-timepicker  [value] = "afternoonTime" placeholder="Start Time"></ejs-timepicker>
              </div>
            </div>

          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btnSave" (click)="modal.close('Save click ')">Save</button>
    </div>
  </ng-template>


  <router-outlet></router-outlet>
