<div class="side-bar" style="width:12%">
  <a href="#" class="button-gray">Dashboard</a>
  <a href="#" >Post Vacancy</a>
  <a href="#" class="button-gray">Manage Vacancy</a>
  <a href="#" >Received Applications</a>


  <input type="checkbox" />

  <span class="button-gray dropdown-side-nav">Manage Hiring Campaign
    <!--<i class="fa fa-caret-down"></i>-->
  </span>
  <div class="dropdown-container">
    <a href="#">Vacancy Shortlist</a>
    <a href="#">Interview Schedule</a>
  </div>

  <a href="#" >Wallet</a>
  <a href="#" class="button-gray">Setting</a>
  <a href="#" class="logout-button">Logout</a>
</div>

<div style="width:88%; background-color: white; height: 100%; display: inline-block;">
</div>
