<div class="dashboard-header">
    <h1>Dashboard</h1>
</div>

<div class = "dashboard-container">
    <div class="card-container">
        <div class="card">
            <h1>8</h1>
            <span>Active Jobs</span>
            <span><a href="/"><u>View ></u></a></span>
        </div>     
        <div class="card" >
            <h1>8</h1>
            <span>View Applicants</span>
            <a href="/"><u>View ></u></a>
        </div>
        <div class="card" >
            <h1>800</h1>
            <span>Credit Balance</span>
            <a href="/"><u>View ></u></a>
        </div>
    </div>
    <div class="card-container">
        <div class="card card-large" >
            <h2>Graph</h2>
        </div>     
        <div class="card card-large">
            <h1>2</h1>
            <span>Service Subscriptions </span>
            <a href="/"><u>View ></u></a>
        </div>
    </div>
</div>