



.card {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

a:visited {
  color: black;
}
a:link {
  color: black;
}
a:hover {
  color: #f4dd05;
}
div.signup{
padding-top:25px;
padding-bottom:10px;
    text-align:center;

}
.signup a{
    color: #f4dd05;

}

input[type=text],input[type=email],input[type=phone], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #f4dd05;
  box-sizing: border-box; 
  height:50px;
  border-radius:5px;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #f4dd05;
  box-sizing: border-box; 
  border-radius:5px;
}
button {
  background-color: #f4dd05;
  color: white;
  font-size:25px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
h1{
    text-align:center;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 30px 80px 20px 80px;
 
}
label{
font-size:12px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius:24px;
  width: 50%; /* Could be more or less, depending on screen size */
}


 .half-container {
    width: 50%;
    float: left;
  }
.left-container{
padding-right:5%;

}
.right-container{
    border-left: 1px solid #f4dd05;
padding-left:2%;
}
.left{
    padding-right:5%;
}.right{
    padding-left:2%;
}
  .half {
    width: 46%;
    float: left;
  }

  

  .mat-toolbar{
    justify-content: space-between;
    background-color: white;
  }
  
  .logo img{
    height:3vw;
    vertical-align: middle;
  }
  