

<div class="col-md-12">
    <div class="card card-container  ">

  <form *ngIf="!isSuccessful">
    
  
    <table class="input-width" cellspacing="0"><tr>
      <td><mat-form-field class="input-width" >
        <mat-label>Company name</mat-label>
        <input matInput name="comapny_name"[(ngModel)]="vacancy.company_name">
      </mat-form-field></td>
      <td><mat-form-field class="input-width">
        <mat-label>Location</mat-label>
        <input matInput name="company_location" [(ngModel)]="vacancy.company_location">
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="input-width" >
        <mat-label>Job Title</mat-label>
        <input matInput name="job_title" [(ngModel)]="vacancy.job_title">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="input-width" >
        <mat-label>Job Description</mat-label>
        <textarea matInput name="job_desc" [(ngModel)]="vacancy.job_desc"></textarea>
      </mat-form-field>
    </p>
  
    <table class="input-width" cellspacing="0"><tr>
        <td><mat-form-field class="input-width" >
            <mat-label>Age</mat-label>
            <input matInput type="number" min="0"  name="Age" [(ngModel)]="vacancy.age">
          </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Working Experience</mat-label>
        <input matInput  type="number" min="0" placeholder="5 years"  name="work_exp" [(ngModel)]="vacancy.work_exp">
      </mat-form-field></td>
      <td><mat-form-field class="input-width" >
        <mat-label>Education Level</mat-label>
        <mat-select [(ngModel)]="vacancy.edu_level" name="edu_level">
            <mat-option *ngFor="let edulevel of edulevels" [value]="edulevel.value" >
              {{edulevel.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="input-width">
        <mat-label>Personalities</mat-label>
        <mat-select [(ngModel)]="vacancy.personalities" name="personalities">
            <mat-option *ngFor="let personalities of personalities" [value]="personalities.value" >
              {{personalities.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field></td>
    </tr></table>

    <table class="input-width" cellspacing="0"><tr>
        <td><mat-form-field class="input-width" >
            <mat-label>Set Daily budget</mat-label>
            <input matInput type="number" min="0" name="daily_budget" [(ngModel)]="vacancy.daily_budget">
          </mat-form-field></td>
        <td><mat-form-field >
            <mat-label>Set a close date</mat-label>
            <input matInput [matDatepicker]="picker" name="close_date" [(ngModel)]="vacancy.close_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field></td>
      </tr></table>
      <div>
        <button (click)="saveVacancy()" class="btn btn-success">Submit</button>
      </div>
  </form>
  <div class="alert " *ngIf="isSuccessful"> Added Vacancy successful! <br />
  </div>
</div></div>